#ignore eps files
**/*.eps

#ignore jpg files
**/*.jpg
**/*.jpeg

#ignore video files
**/*.avi
**/*.mp4


#ignore audio files
**/*.mp3


#ignore psd files
**/*.psd


#ignore compressed files
**/*.rar
**/*.zip
